/* Regola generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region Dimensioni Row e Container */

/* Altezza Prima Row */
.h_sm {
    height: 100px;
}
/* Altezza Seconda Row */
.h_xs {
    height: 50px;
}
/* Container Small, canmbiato la dimensione per questo esercizio */
.container-sm {
    width: 470px !important;
}

/* Background della row */
.bg_t_cont {
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 0.5rem;
}
/*#endregion */

/*#region Utilities di testo e immagini  */

/* Border Radius dell'input type e del button */
.radius {
    border-radius: 0.6rem;
    border: 1px solid rgb(0, 0, 0);
}

/* Bordo inferiore nei list item generati dinamicamente */
.b_bottom {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

/* Testo Piccolo nei tasti input e button */
.text_sm {
    font-size: 0.8rem;
}

/* Logo image */
.col-12 > img {
    width: 30%;
    height: 90%;
}

/* Task da lasciare se è stato cliccato */
.done {
    text-decoration: line-through;
}
/*#endregion */
